### IDEs
.vscode
.idea
.DS_Store

### terraform
.terraform/
terraform.tfplan
terraform.tfstate
./*.tfstate

### bin
golangci-lint
jq
vault
vault.zip
.local.env

### other
dist/
modules-dev/
/pkg/
*.backup
*.log