### IDEs
.vscode
.idea
.fleet
.DS_Store

### terraform
.terraform/
terraform.tfplan
terraform.tfstate
./*.tfstate

### bin
bin/

### env
**/*.env

### other
local-files
dist/
modules-dev/
/pkg/
*.backup
*.log
