name: build

on:
  pull_request:
    branches: [ master, main, release-cloud, instanceV2]

env:
  EC_USERNAME: ${{ secrets.EC_USERNAME }}
  EC_PASSWORD: ${{ secrets.EC_PASSWORD }}
  EC_API: ${{ secrets.EC_API }}
  EC_CDN_URL: ${{ secrets.EC_CDN_URL }}
  EC_DNS_API: ${{ secrets.EC_DNS_API }}
  EC_PLATFORM: ${{ secrets.EC_PLATFORM }}
  EC_STORAGE_API: ${{ secrets.EC_STORAGE_API }}
  TEST_PROJECT_ID: ${{ secrets.TEST_PROJECT_ID }}
  TEST_REGION_ID: ${{ secrets.TEST_REGION_ID }}
  TF_ACC: ${{ secrets.TF_ACC }}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      EC_PERMANENT_TOKEN: ${{ secrets.EC_PERMANENT_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26.0

      - name: Linters
        run: make linters

      - name: Build
        run: go build -v ./...

  reseller-tests:
    needs: build
    runs-on: ubuntu-latest
    env:
      EC_PERMANENT_TOKEN: ${{ secrets.EC_RESELLER_PERMANENT_TOKEN }}
    strategy:
      matrix:
        kind:
          - tag: cloud_reseller_data_source
          - tag: cloud_reseller_resource
      fail-fast: true
      max-parallel: 1
    name: tests-${{ matrix.kind.tag }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.26.0
      - name: Run tests (${{ matrix.kind.tag }})
        run: go test -v ./edgecenter/test -tags ${{ matrix.kind.tag }} -short -timeout=5m

  tests:
    needs: reseller-tests
    runs-on: ubuntu-latest
    env:
      EC_PERMANENT_TOKEN: ${{ secrets.EC_PERMANENT_TOKEN }}
    strategy:
      matrix:
        kind:
          - tag: cloud_data_source
          - tag: cloud_resource
      fail-fast: true
      max-parallel: 1
    name: tests-${{ matrix.kind.tag }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.26.0
      - name: Run tests (${{ matrix.kind.tag }})
        run: go test -v ./edgecenter/test -tags ${{ matrix.kind.tag }} -short -timeout=20m
